.au-c-modal__body{
  overflow: visible;
}

// "InfiniteSelect" component (this component should be made more generic and moved somewhere reusable)
.infinite-select-options {
  // Copied from ember-appuniversum: https://github.com/appuniversum/ember-appuniversum/blob/09fbccfa34190ab9552f42572d783d35e6925ad6/app/styles/ember-appuniversum/_p-ember-power-select.scss#L421-L424
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @if unitless($ember-power-select-line-height) {
    max-height: #{$ember-power-select-number-of-visible-options * $ember-power-select-line-height}em;
  } @else {
    max-height: $ember-power-select-number-of-visible-options * $ember-power-select-line-height;
  }

  .ember-power-select-options {
    max-height: none;
  }
}

.au-c-content ul.ember-power-select-options {
  list-style: none;
  margin-left: 0
}

// The main header content should appear in front of other page contents (table headers, sticky toolbars, etc)
.au-c-main-header {
  z-index: var(--au-z-index-gamma);
}

.au-c-toolbar--sticky {
  position: sticky;
  top: 0;
  z-index: var(--au-z-index-beta);
}
