{{page-title (t "vendor.subject.main.head-1")}}

<AuToolbar @size="medium" @skin="tint" @border="bottom" class="au-c-toolbar--sticky" as |Group|>
  <Group>
    <ul class="au-c-list-horizontal au-c-list-horizontal--small">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="vendors" @icon="arrow-left">
          {{t "vendor.subject.main.back"}}
        </AuLink>
      </li>
    </ul>
  </Group>
</AuToolbar>
<div class="au-o-box au-o-layout au-u-margin-top au-u-margin-bottom">
  <AuHeading>{{t 'vendor.subject.main.head-1'}}</AuHeading>
  <PageLoader>{{t "loading.generic"}}</PageLoader>
</div>