<AuMainHeader @brandLink="#" @homeRoute="index" @appTitle="Vendor Access Management">
  <li class="au-c-list-horizontal__item">
    <LanguageDropdown/>
  </li>
  {{#if session.isAuthenticated}}
    <li class="au-c-list-horizontal__item">
      <MockLogout @tagName="button" class="au-c-button au-c-button--tertiary" role="menuitem">
        <AuIcon @icon="logout" @alignment="left"/>
        {{t 'application.header.logout'}}
      </MockLogout>
    </li>
  {{/if}}
</AuMainHeader>

<div class="au-c-main-container" id="main">
  <div class="au-c-main-container__content au-c-main-container__content--scroll">

    <main id="content" style="min-height: 70rem">
      {{outlet}}
    </main>

    <AuMainFooter>
      <AuHeading @level="2" @skin="4">
        vendor-management.lblod.info is een officiële website van de Vlaamse overheid
      </AuHeading>
      <AuContent @skin="small">
        <p>Uitgegeven door
          <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">
            Agentschap Binnenlands Bestuur
          </a>
        </p>
      </AuContent>
    </AuMainFooter>

  </div>
</div>