<div class="au-o-layout">
  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Beheer de toegang van externe software leveranciers
    </AuHeading>
  </div>

  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom-tiny">Bekijk de lijst van externe software leveranciers.
    </AuHeading>
    <AuLink @linkRoute="vendors">Naar lijst</AuLink>
    <AuButton />
  </div>
</div>